__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.idea/
.vscode/
*.png
node_modules
*.log

# NEU - diese fehlen:
.git
.gitignore
*.md
docs/
tests/
**/__pycache__
**/*.pyc
MonaaLisa/src/Frontend/
MonaaLisa/src/Backend/
docker-compose*.yml
Dockerfile
.dockerignore
