POSTGRES_USER=monaa
POSTGRES_PASSWORD=sicherespasswort
POSTGRES_DB=monaa_lisa_db

# SEMANTICPAPER RELATED SETTINGS
ARXIV_MIN_INTERVAL=3.0              
TRANSFORMER_MODEL=all-MiniLM-L6-v2  
NUM_WORKERS=5                       
LOG_LEVEL=INFO                     
CATEGORY_CONFIG_PATH=./MonaaLisa/src/categories.json  
RELOAD_INTERVAL=60                  